img{
	height: 300px;
	padding: 15x;
	border-radius: 50px;
	border-style: dotted	;
	border-color: white;
	border-width: 2px;
	opacity: .65;


}
img:hover{

	opacity: 1;
}
Body{
	background-color: #A5A07E;
	color: white;
	text-align: center;\
	font-family: Arial;
	margin: 100px;


}
table{
	margin-left: auto;
	margin-right: auto;

}
h1{
	text-transform: uppercase;
	letter-spacing: 15px;
	color: #3B3A32;
}
h2{
	text-transform: uppercase;
	letter-spacing: 15px;
	color: #3B3A32;
}

.profile{
	height: 80px;
}

small{
	color: whitesmoke;
}

footer{
	margin-left: 1000px;
}



